/** Importaciones **/
/** Imports **/
@import '../node_modules/materialize-css/sass/materialize.scss';

/** Estilado principal **/
/** Main styling **/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/** Estilado de clases **/
/** Class styling **/
.logo {
  img {
    visibility: hidden;
  }
  background: url("https://store-images.s-microsoft.com/image/apps.13864.9007199266256460.858d0ed3-5aaf-4332-9e2b-510996d6bac7.20dfc4c9-2178-43d1-af4e-5b5c556c69c7?mode=scale&q=90&h=270&w=270&background=%232d2d31");
  background-repeat: no-repeat;
  background-size: cover;
}

.brand-logo {
  left: 15px;
}

.social {
  a {
      margin: 0 5px;
  }
}

.sidebar {
  font-weight: bold;

  p {
    font-size: 18px;
  }

  a {
    color: #000;
    font-weight: normal;
  }
}

.admin-section {
  a {
    margin: 10px;
  }
}

.shopping-cart {
  a {
    margin: 0 10px;
  }
}

li.collection-item.avatar {
  padding-right: 72px;
}

.card .card-title {
  font-size: 16px;
}

/** Utiles **/
/** Utils **/
.margin-0 {
  margin: 0 !important;
}

.border-left {
  border-left: 2px solid rgba(0, 0, 0, 0.2);
}

.border-radius {
  border-radius: 25px;
  border: 3px solid #ffd8a6;
}

.max-width-50 {
  max-width: 50% !important;
}

.margin-10 {
  margin: 10px 10px 0 10px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-16 {
  font-size: 16px;
}